server/flows.json
[{"id":"64bf31f7.39303","type":"tab","label":"Counter in","disabled":false,"info":""},{"id":"8aef53de.c9aa78","type":"tab","label":"Database","disabled":false,"info":""},{"id":"4d72abac.9f6a5c","type":"tab","label":"Skylab Dashboard","disabled":false,"info":""},{"id":"daeabae8.5efdd","type":"tab","label":"System","disabled":false,"info":""},{"id":"5d4f9edd.b92f48","type":"tab","label":"Log dashboard","disabled":false,"info":""},{"id":"fd1ac5b9.8d104","type":"subflow","name":"database","info":"","category":"","in":[{"x":20,"y":80,"wires":[{"id":"405f74d9.a8f624"}]}],"out":[{"x":360,"y":80,"wires":[{"id":"405f74d9.a8f624","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"959d9516.ea717","type":"sqlitedb","z":"","db":"/data/database.db","mode":"RWC"},{"id":"512f506d.1c2c8","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":false},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":true},"page-sidebar-backgroundColor":{"value":"#fafafa","edited":true},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#fafafa","edited":true},"group-backgroundColor":{"value":"#fafafa","edited":true},"widget-textColor":{"value":"#111111","edited":true},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#fafafa","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Skylab Entry Counter","hideToolbar":"true","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d796e2d5.12f988","type":"ui_tab","z":"","name":"Debugger","icon":"dashboard","disabled":false,"hidden":false},{"id":"7ad48c00.72c1e4","type":"ui_group","z":"","name":"Default","tab":"1c92ff6c.9201c9","order":5,"disp":false,"width":"24","collapse":false},{"id":"1c92ff6c.9201c9","type":"ui_tab","z":"","name":"Skylab Dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"bb0a3cfd.cde0f","type":"ui_group","z":"","name":"Default","tab":"d796e2d5.12f988","order":1,"disp":false,"width":"6","collapse":false},{"id":"e660847b.65f71","type":"ui_group","z":"","name":"Table","tab":"","order":1,"disp":true,"width":"14","collapse":false},{"id":"e89f79b5.38dc18","type":"http in","z":"64bf31f7.39303","name":"","url":"/count","method":"post","upload":false,"swaggerDoc":"","x":190,"y":160,"wires":[["73f9b90.5e43e48","547fe9f7.946f9"]]},{"id":"73f9b90.5e43e48","type":"http response","z":"64bf31f7.39303","name":"","statusCode":"","headers":{},"x":370,"y":60,"wires":[]},{"id":"547fe9f7.946f9","type":"function","z":"64bf31f7.39303","name":"Parse input","func":"const msgOut = {\n    \"door\": \"\\'\" + msg.payload.channel_name + \"\\'\",\n    \"time\": new Date(msg.payload.event_time).getTime(),\n    ...(msg.payload.rule_name == \"Enter\" && {\"direction_in\": 1}),\n    ...(msg.payload.rule_name == \"Exit\" && {\"direction_out\": 1})\n};\n\nmsg.payload = msgOut;\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":160,"wires":[["2970dd42.da8692","4d9723cb.6673cc","4f3851cb.9c8de"]]},{"id":"da86c9ef.f2c268","type":"function","z":"64bf31f7.39303","name":"Sample","func":"msg.payload = {\"channel_id\":\"5d4715c8-56b3-4e25-a56c-706f05611004\",\"channel_name\":\"Elevator\",\"event_name\":\"Crossed line\",\"event_origin\":\"Pedestrian\",\"event_time\":\"2020-12-30T16:15:08.6991366+01:00\",\"event_type\":\"TripwireCrossed\",\"object_id\":1,\"rule_id\":\"08dc4a0e-825e-44e6-a5e4-1bc029bf41e2\",\"rule_name\":\"Enter\"}\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":360,"wires":[[]]},{"id":"cdd7c8d4.f1b18","type":"inject","z":"64bf31f7.39303","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":360,"wires":[["da86c9ef.f2c268"]]},{"id":"7a21c2a8.0a5bc4","type":"inject","z":"8aef53de.c9aa78","name":"create counterTable","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":320,"wires":[["be7f757c.395d3"]]},{"id":"be7f757c.395d3","type":"function","z":"8aef53de.c9aa78","name":"create counterTable","func":"msg.topic = \"CREATE TABLE counterTable (time INTEGER PRIMARY KEY, door TEXT NOT NULL, direction_in INTEGER DEFAULT 0, direction_out INTEGER DEFAULT 0)\"\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":320,"wires":[[]]},{"id":"2970dd42.da8692","type":"link out","z":"64bf31f7.39303","name":"to database","links":["18940b42.68d475"],"x":795,"y":120,"wires":[]},{"id":"18940b42.68d475","type":"link in","z":"8aef53de.c9aa78","name":"","links":["2970dd42.da8692"],"x":175,"y":100,"wires":[["3e23772f.fae348"]]},{"id":"3e23772f.fae348","type":"function","z":"8aef53de.c9aa78","name":"JSON --> SQL","func":"values = Object.values(msg.payload);\nkeys = Object.keys(msg.payload);\n\nmsg.topic = \"INSERT INTO counterTable(\" + keys + \") VALUES(\" + values + \")\"\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":100,"wires":[["7c0f5ef9.7c67c","a77ddc75.89eb58"]]},{"id":"30ec04d2.b53634","type":"inject","z":"8aef53de.c9aa78","name":"counterTable content","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":360,"wires":[["5099e27c.a179bc"]]},{"id":"5099e27c.a179bc","type":"function","z":"8aef53de.c9aa78","name":"counterTable content","func":"msg.topic = \"SELECT * FROM counterTable ORDER BY time DESC LIMIT 100\"\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":360,"wires":[["7c0f5ef9.7c67c"]]},{"id":"1f0719e6.29d3c6","type":"function","z":"8aef53de.c9aa78","name":"clear counterTable","func":"msg.topic = \"DELETE FROM counterTable where door = 'Elevator'\"\n\nreturn msg;","outputs":1,"noerr":0,"x":515,"y":512,"wires":[[]]},{"id":"7a800aad.967694","type":"inject","z":"8aef53de.c9aa78","name":"clear counterTable","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":275,"y":512,"wires":[["1f0719e6.29d3c6"]]},{"id":"b0fe9f25.622c58","type":"function","z":"64bf31f7.39303","name":"Parsed sample","func":"var direction = Math.round(Math.random());\n\nout = {\"door\":\"'Elevator'\",\"time\":msg.payload}\n\nif (direction) {out.direction_in = 1}\nif (!direction) {out.direction_out = 1}\n\nmsg.payload = out;\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":440,"wires":[[]]},{"id":"d77a0a32.45d27","type":"inject","z":"64bf31f7.39303","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":440,"wires":[["b0fe9f25.622c58"]]},{"id":"4efdeaa3.be1c54","type":"comment","z":"64bf31f7.39303","name":"To database","info":"","x":850,"y":80,"wires":[]},{"id":"6b54cc1.0a23c34","type":"link out","z":"64bf31f7.39303","name":"to dashboard","links":["ebedea17.4f8138"],"x":935,"y":200,"wires":[]},{"id":"a8d92e27.5f9fb","type":"comment","z":"64bf31f7.39303","name":"To skylab dashboard","info":"","x":870,"y":240,"wires":[]},{"id":"ebedea17.4f8138","type":"link in","z":"4d72abac.9f6a5c","name":"","links":["6b54cc1.0a23c34"],"x":155,"y":100,"wires":[["c53d722b.e84fb"]]},{"id":"405f74d9.a8f624","type":"sqlite","z":"fd1ac5b9.8d104","mydb":"959d9516.ea717","sqlquery":"msg.topic","sql":"","name":"","x":190,"y":80,"wires":[[]]},{"id":"7c0f5ef9.7c67c","type":"subflow:fd1ac5b9.8d104","z":"8aef53de.c9aa78","name":"","x":840,"y":100,"wires":[[]]},{"id":"5dd8f2c2.75403c","type":"ui_template","z":"4d72abac.9f6a5c","group":"","name":"Dashboard stylesheet","order":1,"width":0,"height":0,"format":"<style>\n    :root {\n        --main-color: RGB(252, 118, 52);\n    }\n    \n    h1 {\n        font-size: 48px!important;\n    }\n    \n    \n    body.nr-dashboard-theme {\n      /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif; */\n      font-family: Roboto, Helvetica Neue, sans-serif;\n    }\n\n    \n    .nr-dashboard-template h2 {\n        color: var(--main-color)!important;\n        font-weight: bold!important;\n        font-size: 48px!important;\n        background-color: transparent!important;\n        margin: 0;\n    }\n    \n    .nr-dashboard-template h3 {\n        color: Gray!important;\n        font-size: 24px!important;\n        background-color: transparent!important;\n        margin: 0;\n        font-weight:lighter;\n    }\n    \n    .feather {\n        width: 100px;\n        height: 100px;\n        color: var(--main-color)!important;\n    }\n    \n    .nr-dashboard-theme .nr-dashboard-template path {\n        fill: none;\n    }\n    \n    .interval-icon {\n        width: 50px;\n        height: 50px;\n    }\n    \n    .interval-time {\n        color: var(--main-color)!important;\n    }\n    \n    .interval-count {\n        color: var(--main-color)!important;\n        font-size:24px;\n        font-weight: bold;\n    }\n    \n    .interval-visitors {\n        color: Gray!important;\n        font-weight: lighter;\n    }\n\n    .border-top {\n        border-top: 5px dashed var(--main-color);\n    }\n    .border-top-solid {\n        border-top: 5px solid var(--main-color);\n    }\n\n    \n    .sideLines {\n        background-color: var(--main-color);\n        color: white;\n        font-weight: bold;\n        font-size: 30px!important;\n        writing-mode: vertical-rl;\n        text-transform: uppercase;\n        display: flex!important;\n            line-height: 1.7em;\n    }\n    \n    .counter-item {\n    display: grid;\n    justify-content: center!important;\n    align-content: center!important;\n    text-align: center!important;\n    }\n\n.grid-container {\n    height: 90vh!important;\n  display: grid;\n  grid-template-columns: 50px 1fr 50px;\n  grid-template-rows: 2fr 1fr 1fr 1fr;\n  gap: 0px 0px;\n  grid-template-areas:\n    \"todaySep todayContent todaySide\"\n    \"weekSide weekContent weekSep\"\n    \"monthSep monthContent monthSide\"\n    \"yearSide yearContent yearSep\";\n}\n\n.todaySep { grid-area: todaySep; }\n\n.todayContent {\n  display: grid;\n  grid-template-columns: 1fr 1fr;\n  grid-template-rows: 1fr 1fr;\n  gap: 0px 0px;\n  grid-template-areas:\n    \"firstVisitor currentVisitor\"\n    \"intervals todayVisitors\";\n  grid-area: todayContent;\n}\n\n.firstVisitor { grid-area: firstVisitor; }\n\n.currentVisitor { grid-area: currentVisitor; }\n\n.intervals { grid-area: intervals; }\n\n.todayVisitors { grid-area: todayVisitors; }\n\n.todaySide { grid-area: todaySide; }\n\n.weekSep { grid-area: weekSep; }\n\n.weekContent { grid-area: weekContent; }\n\n.weekSide { grid-area: weekSide; }\n\n.monthSep { grid-area: monthSep; }\n\n.monthContent { grid-area: monthContent; }\n\n.monthSide { grid-area: monthSide; }\n\n.yearSep { grid-area: yearSep; }\n\n.yearContent {\n  /* display: grid;\n  grid-template-columns: 1fr 1fr;\n  grid-template-rows: 1fr;\n  gap: 0px 0px;\n  grid-template-areas:\n    \"yearOwls yearVisitors\";\n  grid-area: yearContent;\n  */\n  grid-area: yearContent\n}\n\n.yearOwls { grid-area: yearOwls; }\n\n.yearVisitors { grid-area: yearVisitors; }\n\n.yearSide { grid-area: yearSide; }\n\n\n\n</style>\n\n<script src=\"https://unpkg.com/feather-icons\"></script>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","x":1400,"y":220,"wires":[[]]},{"id":"2ab34dd6.8d7632","type":"inject","z":"daeabae8.5efdd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":240,"wires":[["f2457269.631c"]]},{"id":"f2457269.631c","type":"exec","z":"daeabae8.5efdd","command":"free -m","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":530,"y":240,"wires":[["c63ebeea.e318e8"],[],[]]},{"id":"c63ebeea.e318e8","type":"debug","z":"daeabae8.5efdd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":760,"y":180,"wires":[]},{"id":"c53d722b.e84fb","type":"function","z":"4d72abac.9f6a5c","name":"Get database calls","func":"// today 00:00\nconst zero = new Date();\nzero.setHours(0,0,0,0);\n\n// current reset timer\ncurrentResetTime = flow.get('current-reset-time')\n\n// today 03:00\nconst three = new Date();\nthree.setHours(3,0,0,0);\n\n// Generate intervals\nconst interval = [{start: 0, end: 12}, {start: 12, end: 17}, {start: 17, end: 24}]\n\nconst start = new Date();\nconst end = new Date();\n\nlet intervals = [];\n\nend.setHours(interval[0].end,0,0,0);\nstart.setHours(interval[0].start,0,0,0);\nintervals.push(\"SELECT SUM(direction_in) from counterTable WHERE time > \" + start.getTime() + \" AND time < \" + end.getTime());\n\nend.setHours(interval[1].end,0,0,0);\nstart.setHours(interval[1].start,0,0,0);\nintervals.push(\"SELECT SUM(direction_in) from counterTable WHERE time > \" + start.getTime() + \" AND time < \" + end.getTime());\n\nend.setHours(interval[2].end,0,0,0);\nstart.setHours(interval[2].start,0,0,0);\nintervals.push(\"SELECT SUM(direction_in) from counterTable WHERE time > \" + start.getTime() + \" AND time < \" + end.getTime());\n\n// Week\nvar curr = new Date(); // get current date\nvar first = curr.getDate() - curr.getDay() + 1; // First day is the day of the week - the day of the week\nvar last = first + 7; // last day is the first day + 6\n\nvar firstday = new Date();\nfirstday.setDate(firstday.getDate()+first)\nfirstday.setHours(0,0,0,0)\nvar lastday = new Date();\nlastday.setDate(lastday.getDate()+last)\nlastday.setHours(24,0,0,0)\n\n// Month\nvar monthDate = new Date(), y = monthDate.getFullYear(), m = monthDate.getMonth();\nvar monthFirstDay = new Date(y, m, 1);\nvar monthLastDay = new Date(y, m + 1, 0);\n\n// Year\nlet year = new Date().getFullYear();\n\nconst thisYear = new Date(year, 0, 1);\nconst nextYear = new Date(year + 1, 0, 1);\n\n\nmsg.payload = {\n    // this year\n    thisYear: new Date().getFullYear(),\n    \n    // First visitor after 03:00\n    firstVisitor: \"SELECT time from counterTable WHERE instr(door, 'skylab') > 0 AND time > \" + three.getTime() + \" LIMIT 1\",\n    \n    // Current visitors today\n    currentVisitors: \"SELECT SUM(direction_in)-SUM(direction_out) from counterTable WHERE instr(door, 'skylab') > 0 AND time > \" + currentResetTime.getTime(),\n    \n    // Visitors today\n    todayVisitors: \"SELECT SUM(direction_in) from counterTable WHERE instr(door, 'skylab') > 0 AND time > \" + zero.getTime(),\n    \n    todayMorning: intervals[0],\n    todayAfternoon: intervals[1],\n    todayNight: intervals[2],\n    \n    weekVisitors: \"SELECT SUM(direction_in) from counterTable WHERE instr(door, 'skylab') > 0 AND time > \" + firstday.getTime() + \" AND time < \" + lastday.getTime(),\n    monthVisitors:\"SELECT SUM(direction_in) from counterTable WHERE instr(door, 'skylab') > 0 AND time > \" + monthFirstDay.getTime() + \" AND time < \" + monthLastDay.getTime(),\n    yearVisitors: \"SELECT SUM(direction_in) from counterTable WHERE instr(door, 'skylab') > 0 AND time > \" + thisYear.getTime() + \" AND time < \" + nextYear.getTime(),\n    // yearNightowls: \"SELECT SUM(direction_in) from counterTable WHERE time > \" + year.getTime() + \" AND time < \" + nextYear.getTime(),\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":100,"wires":[["727cbc40.0c441c"]]},{"id":"ab15ad7d.8a474","type":"inject","z":"4d72abac.9f6a5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":180,"wires":[["c53d722b.e84fb"]]},{"id":"727cbc40.0c441c","type":"split","z":"4d72abac.9f6a5c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":510,"y":140,"wires":[["6700fd73.664004"]]},{"id":"6797ebdd.744e44","type":"change","z":"4d72abac.9f6a5c","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":320,"wires":[["d59b88e5.bbf7c8"]]},{"id":"d59b88e5.bbf7c8","type":"subflow:fd1ac5b9.8d104","z":"4d72abac.9f6a5c","name":"","x":780,"y":360,"wires":[["483462e2.c06f24"]]},{"id":"483462e2.c06f24","type":"join","z":"4d72abac.9f6a5c","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":890,"y":160,"wires":[["de5ae43.1028f98"]]},{"id":"6700fd73.664004","type":"switch","z":"4d72abac.9f6a5c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"istype","v":"number","vt":"number"},{"t":"istype","v":"string","vt":"string"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":240,"wires":[["483462e2.c06f24"],["6797ebdd.744e44"]]},{"id":"cbe1075f.d819","type":"function","z":"4d72abac.9f6a5c","name":"Parsing","func":"const firstVisitor = (input) => {\n    let output;\n    \n    if (input === 0) {\n        output = \"No early birds yet\"\n        return output\n    }\n    \n    const date = new Date(input);\n    \n    const hours = \"0\" + date.getHours();\n    const minutes = \"0\" + date.getMinutes();\n    \n    output = hours.substr(-2) + \":\" + minutes.substr(-2);\n    return output;\n}\n\nconst currentVisitors = (input) => {\n    if (input < 0) {return 0}\n    return input\n}\n\n// removes all nulls and flattens\nconst removeNull = (input) => {\n    if (input === null) {return 0}\n    if (Array.isArray(input)) {\n        \n        // flattening\n        let output = input[0][Object.keys(input[0])[0]];\n        if (output === null) {return 0}\n        \n        return output;\n    }\n    return input\n}\n\n// Remove all nulls\nObject.keys(msg.payload).forEach(key => {\n    msg.payload[key] = removeNull(msg.payload[key])\n});\n\n// Format first visitor\nmsg.payload.firstVisitor = firstVisitor(msg.payload.firstVisitor);\nmsg.payload.currentVisitors = currentVisitors(msg.payload.currentVisitors);\n\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":160,"wires":[["18d0309e.798dcf"]]},{"id":"18d0309e.798dcf","type":"ui_template","z":"4d72abac.9f6a5c","group":"7ad48c00.72c1e4","name":"","order":7,"width":"0","height":"0","format":"<div id=\"counterContent\" >\n    \n    <h1>{{msg.payload.thisYear}} in numbers</h1>\n    \n    <div class=\"grid-container\">\n      <div class=\"counter-item todaySep\"></div>\n      <div class=\"counter-item todayContent\">\n        <div class=\"counter-item firstVisitor\">\n            <table style=width:100%>\n                <tr>\n                    <td><i data-feather=\"coffee\"></i></td>\n                </tr>\n                <tr>\n                    <td><h2>{{msg.payload.firstVisitor}}</h2></td>\n                </tr>\n                <tr>\n                    <td><h3>First visitor</h3></td>\n                </tr>\n            </table>\n        </div>\n        <div class=\"counter-item currentVisitor\">\n            <table style=width:100%>\n                <tr>\n                    <td><i data-feather=\"map-pin\"></i></td>\n                </tr>\n                <tr>\n                    <td><h2>{{msg.payload.currentVisitors}}</h2></td>\n                </tr>\n                <tr>\n                    <td><h3>Current visitors</h3></td>\n                </tr>\n            </table>\n        </div>\n        <div class=\"counter-item intervals\">\n            <table style=\"width:100%\">\n              <tr>\n                <td>\n                    <i class=\"interval-icon\" data-feather=\"sunrise\"></i>\n                    <span class=\"interval-time\"><br/>06-12</span>\n                </td>\n                <td style=\"padding-left: 20px;\">\n                    <span class=\"interval-count\">{{msg.payload.todayMorning}} </span> <span class=\"interval-visitors\"> <br /> Visitors</span>\n                </td>\n              </tr>\n              <tr>\n                <td>\n                    <i class=\"interval-icon\" data-feather=\"sun\"></i>\n                    <span class=\"interval-time\"><br/>12-17</span>\n                </td>\n                <td style=\"padding-left: 20px;\">\n                    <span class=\"interval-count\">{{msg.payload.todayAfternoon}} </span> <span class=\"interval-visitors\"> <br /> Visitors</span>\n                </td>\n              </tr>\n              <tr>\n                <td>\n                    <i class=\"interval-icon\" data-feather=\"moon\"></i>\n                    <span class=\"interval-time\"><br/>17-06</span>\n                </td>\n                <td style=\"padding-left: 20px;\">\n                    <span class=\"interval-count\" >{{msg.payload.todayNight}} </span> <span class=\"interval-visitors\"> <br /> Visitors</span>\n                </td>\n              </tr>\n            </table>\n        </div>\n        <div class=\"counter-item todayVisitors\">\n            <h2 style=\"font-size: 100px!important\">{{msg.payload.todayVisitors}}</h2>\n            <h3>Today visitors</h3>\n        </div>\n      </div>\n      <div class=\"counter-item todaySide sideLines\">Today</div>\n      <div class=\"counter-item weekSep border-top-solid\"></div>\n      <div class=\"counter-item weekContent border-top\"><h2>{{msg.payload.weekVisitors}}</h2><h3>Visitors this week</h3></div>\n      <div class=\"counter-item weekSide sideLines\">This week</div>\n      <div class=\"counter-item monthSep border-top-solid\"></div>\n      <div class=\"counter-item monthContent border-top\"><h2>{{msg.payload.monthVisitors}}</h2><h3>Visitors this month</h3></div>\n      <div class=\"counter-item monthSide sideLines\">This Month</div>\n      <div class=\"counter-item yearSep border-top-solid\"></div>\n      <div class=\"counter-item yearContent border-top\"><h2>{{msg.payload.yearVisitors}}</h2><h3>Visitors this year</h3></div>\n      <div class=\"counter-item sideLines yearSide\">This Year</div>\n    </div>\n</div>\n\n\n\n<script>feather.replace() </script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1380,"y":160,"wires":[[]]},{"id":"8295b22f.4d768","type":"debug","z":"4d72abac.9f6a5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":500,"wires":[]},{"id":"2228d810.c4dee","type":"inject","z":"4d72abac.9f6a5c","name":"","topic":"update new day","payload":"","payloadType":"date","repeat":"","crontab":"00 03 * * *","once":false,"onceDelay":0.1,"x":200,"y":500,"wires":[["d97501ad.426738"]]},{"id":"d97501ad.426738","type":"function","z":"4d72abac.9f6a5c","name":"Reset current-reset-time","func":"now = new Date()\nflow.set('current-reset-time', now)\n\nmsg.payload = flow.get('current-reset-time')\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":500,"wires":[["8295b22f.4d768"]]},{"id":"de5ae43.1028f98","type":"function","z":"4d72abac.9f6a5c","name":"Update current-reset-time","func":"now = new Date()\n\nif (msg.payload.currentVisitors[0][\"SUM(direction_in)-SUM(direction_out)\"] < 0) {\n    flow.set('current-reset-time', now)\n    msg.payload = \"updated\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":220,"wires":[["cbe1075f.d819"]]},{"id":"a77ddc75.89eb58","type":"function","z":"8aef53de.c9aa78","name":"Debug logger","func":"let debugLog = [];\n\nif (global.get('debugLog')) {\n    debugLog = global.get('debugLog')\n}\n\n// parse time\nconst date = new Date(msg.payload.time);\nconst hours = \"0\" + date.getHours();\nconst minutes = \"0\" + date.getMinutes();\nmsg.payload.time = hours.substr(-2) + \":\" + minutes.substr(-2);\n\n// parse direction\n\nif (msg.payload.direction_in) {msg.payload.direction = 'In'}\nif (msg.payload.direction_out) {msg.payload.direction = 'Out'}\n\ndebugLog.push(msg.payload);\n\nif (debugLog.length > 5) {debugLog.shift()}\n\nglobal.set('debugLog', debugLog)\n\nmsg.payload = debugLog;\n\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":60,"wires":[["83da50cc.681048"]]},{"id":"4d9723cb.6673cc","type":"switch","z":"64bf31f7.39303","name":"","property":"payload.door","propertyType":"msg","rules":[{"t":"cont","v":"skylab","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":200,"wires":[["6b54cc1.0a23c34"]]},{"id":"83da50cc.681048","type":"link out","z":"8aef53de.c9aa78","name":"","links":["c8271a2c.842a48"],"x":1055,"y":60,"wires":[]},{"id":"c8271a2c.842a48","type":"link in","z":"5d4f9edd.b92f48","name":"","links":["83da50cc.681048"],"x":540,"y":260,"wires":[["376855a9.e16d1a","26737c96.5188e4"]]},{"id":"376855a9.e16d1a","type":"debug","z":"5d4f9edd.b92f48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":100,"wires":[]},{"id":"9a6c9bc9.984ce","type":"debug","z":"5d4f9edd.b92f48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":960,"y":260,"wires":[]},{"id":"26737c96.5188e4","type":"ui_template","z":"5d4f9edd.b92f48","group":"bb0a3cfd.cde0f","name":"","order":0,"width":"6","height":"6","format":"<table class=\"table\">\n    <tr>\n        <th>Time</th>\n        <th>Door</th>\n        <th>Direction</th>\n    </tr>\n    <tr ng-repeat=\"event in msg.payload\">\n        <td>{{::event.time}}</td>\n        <td>{{::event.door}}</td>\n        <td>{{::event.direction}}</td>\n    </tr>\n</table>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":720,"y":260,"wires":[[]]},{"id":"db9442fc.267bd","type":"inject","z":"4d72abac.9f6a5c","name":"","topic":"","payload":"current-reset-time","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":560,"wires":[["8295b22f.4d768"]]},{"id":"4f3851cb.9c8de","type":"debug","z":"64bf31f7.39303","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":280,"wires":[]}]