server/flows.json
[{"id":"64bf31f7.39303","type":"tab","label":"Counter in","disabled":false,"info":""},{"id":"8aef53de.c9aa78","type":"tab","label":"Database","disabled":false,"info":""},{"id":"4d72abac.9f6a5c","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"3571da2b.331bfe","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"fd1ac5b9.8d104","type":"subflow","name":"database","info":"","category":"","in":[{"x":20,"y":80,"wires":[{"id":"405f74d9.a8f624"}]}],"out":[{"x":360,"y":80,"wires":[{"id":"405f74d9.a8f624","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"959d9516.ea717","type":"sqlitedb","z":"","db":"/data/database.db","mode":"RWC"},{"id":"512f506d.1c2c8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d796e2d5.12f988","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"7ad48c00.72c1e4","type":"ui_group","z":"","name":"Default","tab":"d796e2d5.12f988","order":5,"disp":false,"width":"20","collapse":false},{"id":"e89f79b5.38dc18","type":"http in","z":"64bf31f7.39303","name":"","url":"/count","method":"post","upload":false,"swaggerDoc":"","x":190,"y":160,"wires":[["73f9b90.5e43e48","547fe9f7.946f9"]]},{"id":"73f9b90.5e43e48","type":"http response","z":"64bf31f7.39303","name":"","statusCode":"","headers":{},"x":370,"y":60,"wires":[]},{"id":"497aa7af.e4035","type":"debug","z":"64bf31f7.39303","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":520,"wires":[]},{"id":"547fe9f7.946f9","type":"function","z":"64bf31f7.39303","name":"Parse input","func":"const msgOut = {\n    \"door\": \"\\'\" + msg.payload.channel_name + \"\\'\",\n    \"time\": new Date(msg.payload.event_time).getTime(),\n    ...(msg.payload.rule_name == \"Enter\" && {\"direction_in\": 1}),\n    ...(msg.payload.rule_name == \"Exit\" && {\"direction_out\": 1})\n};\n\nmsg.payload = msgOut;\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":160,"wires":[["497aa7af.e4035","2970dd42.da8692","6b54cc1.0a23c34"]]},{"id":"da86c9ef.f2c268","type":"function","z":"64bf31f7.39303","name":"Sample","func":"msg.payload = {\"channel_id\":\"5d4715c8-56b3-4e25-a56c-706f05611004\",\"channel_name\":\"Elevator\",\"event_name\":\"Crossed line\",\"event_origin\":\"Pedestrian\",\"event_time\":\"2020-12-30T16:15:08.6991366+01:00\",\"event_type\":\"TripwireCrossed\",\"object_id\":1,\"rule_id\":\"08dc4a0e-825e-44e6-a5e4-1bc029bf41e2\",\"rule_name\":\"Enter\"}\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":360,"wires":[["547fe9f7.946f9"]]},{"id":"cdd7c8d4.f1b18","type":"inject","z":"64bf31f7.39303","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":360,"wires":[["da86c9ef.f2c268"]]},{"id":"7a21c2a8.0a5bc4","type":"inject","z":"8aef53de.c9aa78","name":"create counterTable","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":80,"wires":[["be7f757c.395d3"]]},{"id":"be7f757c.395d3","type":"function","z":"8aef53de.c9aa78","name":"create counterTable","func":"msg.topic = \"CREATE TABLE counterTable (time INTEGER PRIMARY KEY, door TEXT NOT NULL, direction_in INTEGER DEFAULT 0, direction_out INTEGER DEFAULT 0)\"\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":80,"wires":[["7c0f5ef9.7c67c"]]},{"id":"d7c1f977.f97ab","type":"debug","z":"8aef53de.c9aa78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":80,"wires":[]},{"id":"2970dd42.da8692","type":"link out","z":"64bf31f7.39303","name":"to database","links":["18940b42.68d475"],"x":795,"y":140,"wires":[]},{"id":"18940b42.68d475","type":"link in","z":"8aef53de.c9aa78","name":"","links":["2970dd42.da8692"],"x":195,"y":440,"wires":[["3e23772f.fae348"]]},{"id":"3e23772f.fae348","type":"function","z":"8aef53de.c9aa78","name":"JSON --> SQL","func":"values = Object.values(msg.payload);\nkeys = Object.keys(msg.payload);\n\nmsg.topic = \"INSERT INTO counterTable(\" + keys + \") VALUES(\" + values + \")\"\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":340,"wires":[["7c0f5ef9.7c67c"]]},{"id":"3c30cb6.8001934","type":"debug","z":"8aef53de.c9aa78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":1180,"y":440,"wires":[]},{"id":"30ec04d2.b53634","type":"inject","z":"8aef53de.c9aa78","name":"counterTable content","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":120,"wires":[["5099e27c.a179bc"]]},{"id":"5099e27c.a179bc","type":"function","z":"8aef53de.c9aa78","name":"counterTable content","func":"msg.topic = \"SELECT * FROM counterTable ORDER BY time DESC LIMIT 10\"\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":120,"wires":[["7c0f5ef9.7c67c"]]},{"id":"1f0719e6.29d3c6","type":"function","z":"8aef53de.c9aa78","name":"clear counterTable","func":"msg.topic = \"DELETE FROM counterTable\"\n\nreturn msg;","outputs":1,"noerr":0,"x":395,"y":272,"wires":[["7c0f5ef9.7c67c"]]},{"id":"7a800aad.967694","type":"inject","z":"8aef53de.c9aa78","name":"clear counterTable","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":155,"y":272,"wires":[["1f0719e6.29d3c6"]]},{"id":"b0fe9f25.622c58","type":"function","z":"64bf31f7.39303","name":"Parsed sample","func":"var direction = Math.round(Math.random());\n\nout = {\"door\":\"'Elevator'\",\"time\":msg.payload}\n\nif (direction) {out.direction_in = 1}\nif (!direction) {out.direction_out = 1}\n\nmsg.payload = out;\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":440,"wires":[["497aa7af.e4035","2970dd42.da8692","6b54cc1.0a23c34"]]},{"id":"d77a0a32.45d27","type":"inject","z":"64bf31f7.39303","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":440,"wires":[["b0fe9f25.622c58"]]},{"id":"4efdeaa3.be1c54","type":"comment","z":"64bf31f7.39303","name":"To database","info":"","x":850,"y":100,"wires":[]},{"id":"6b54cc1.0a23c34","type":"link out","z":"64bf31f7.39303","name":"to dashboard","links":["ebedea17.4f8138"],"x":795,"y":180,"wires":[]},{"id":"a8d92e27.5f9fb","type":"comment","z":"64bf31f7.39303","name":"To dashboard","info":"","x":850,"y":220,"wires":[]},{"id":"ebedea17.4f8138","type":"link in","z":"4d72abac.9f6a5c","name":"","links":["6b54cc1.0a23c34"],"x":135,"y":280,"wires":[["957b01ef.0dd1d8","d27c8216.8ba5d","f851eb8d.225cb8","cf98e67f.91421"]]},{"id":"957b01ef.0dd1d8","type":"function","z":"4d72abac.9f6a5c","name":"Get in today","func":"const start = new Date();\nstart.setHours(0,0,0,0);\n\nmsg.topic = \"SELECT SUM(direction_in) from counterTable WHERE time > \" + start.getTime();\n\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":240,"wires":[["c087b6d0.e8aad8"]]},{"id":"405f74d9.a8f624","type":"sqlite","z":"fd1ac5b9.8d104","mydb":"959d9516.ea717","sqlquery":"msg.topic","sql":"","name":"","x":190,"y":80,"wires":[[]]},{"id":"4c37fe2d.a28378","type":"function","z":"4d72abac.9f6a5c","name":"parse","func":"msg.payload = msg.payload[0][\"SUM(direction_in)\"] || 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":240,"wires":[["1d248304.e00e95"]]},{"id":"d27c8216.8ba5d","type":"function","z":"4d72abac.9f6a5c","name":"Currently visitors","func":"const start = new Date();\nstart.setHours(0,0,0,0);\n\n\nmsg.topic = \"SELECT SUM(direction_in)-SUM(direction_out) from counterTable WHERE time > \" + start.getTime();\n\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":300,"wires":[["d0cfb2d0.e3f73"]]},{"id":"c087b6d0.e8aad8","type":"subflow:fd1ac5b9.8d104","z":"4d72abac.9f6a5c","name":"","env":[],"x":840,"y":240,"wires":[["4c37fe2d.a28378"]]},{"id":"7c0f5ef9.7c67c","type":"subflow:fd1ac5b9.8d104","z":"8aef53de.c9aa78","name":"","x":840,"y":100,"wires":[[]]},{"id":"d0cfb2d0.e3f73","type":"subflow:fd1ac5b9.8d104","z":"4d72abac.9f6a5c","name":"","env":[],"x":840,"y":300,"wires":[["626a22ec.4c186c"]]},{"id":"626a22ec.4c186c","type":"function","z":"4d72abac.9f6a5c","name":"parse","func":"let inside =  msg.payload[0][\"SUM(direction_in)-SUM(direction_out)\"] || 0;\n\nif (inside < 0) {inside = 0}\n\nmsg.payload = inside;\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":300,"wires":[["87bd9241.3cbfe8"]]},{"id":"942ace02.78de","type":"inject","z":"4d72abac.9f6a5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":190,"y":140,"wires":[["9d15672d.52b518"]]},{"id":"9d15672d.52b518","type":"function","z":"4d72abac.9f6a5c","name":"This year in numbers","func":"msg.payload = new Date().getFullYear();\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":140,"wires":[["40417aff.f38a14","c595e3cf.d6712"]]},{"id":"3c8ebe34.a4fd32","type":"subflow:fd1ac5b9.8d104","z":"4d72abac.9f6a5c","name":"","env":[],"x":840,"y":360,"wires":[["b1243745.ce688"]]},{"id":"b1243745.ce688","type":"function","z":"4d72abac.9f6a5c","name":"parse","func":"const time = msg.payload[0].time;\n\nconst date = new Date(time);\n\nconst hours = \"0\" + date.getHours();\nconst minutes = \"0\" + date.getMinutes();\n\nmsg.payload = hours.substr(-2) + \":\" + minutes.substr(-2);\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":360,"wires":[["40947267.7cf204"]]},{"id":"f851eb8d.225cb8","type":"function","z":"4d72abac.9f6a5c","name":"First visitor","func":"const start = new Date();\nstart.setHours(3,0,0,0);\n\nmsg.topic = \"SELECT time from counterTable WHERE time > \" + start.getTime() + \" LIMIT 1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":360,"wires":[["3c8ebe34.a4fd32"]]},{"id":"661192ff.301c4c","type":"comment","z":"4d72abac.9f6a5c","name":"Heading","info":"","x":160,"y":60,"wires":[]},{"id":"e07e9e19.4d0428","type":"comment","z":"4d72abac.9f6a5c","name":"Today","info":"","x":150,"y":200,"wires":[]},{"id":"c25e2f4b.736a9","type":"comment","z":"4d72abac.9f6a5c","name":"This week","info":"","x":180,"y":620,"wires":[]},{"id":"7f363a9.5853044","type":"inject","z":"4d72abac.9f6a5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":680,"wires":[["9e711f5e.28818"]]},{"id":"9e711f5e.28818","type":"function","z":"4d72abac.9f6a5c","name":"Get in this week","func":"var curr = new Date(); // get current date\nvar first = curr.getDate() - curr.getDay() + 1; // First day is the day of the month - the day of the week\nvar last = first + 7; // last day is the first day + 6\n\nvar firstday = new Date(curr.setDate(first));\nfirstday.setHours(0,0,0,0)\nvar lastday = new Date(curr.setDate(last));\nlastday.setHours(24,0,0,0)\n\nmsg.payload = {monday: firstday, sunday: lastday};\n\nmsg.topic = \"SELECT SUM(direction_in) from counterTable WHERE time > \" + firstday.getTime() + \" AND time < \" + lastday.getTime();\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":680,"wires":[["20140fc.5b04ef"]]},{"id":"20140fc.5b04ef","type":"subflow:fd1ac5b9.8d104","z":"4d72abac.9f6a5c","name":"","env":[],"x":840,"y":680,"wires":[["b3c53246.b882c"]]},{"id":"b3c53246.b882c","type":"function","z":"4d72abac.9f6a5c","name":"parse","func":"msg.payload = msg.payload[0][\"SUM(direction_in)\"] || 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":680,"wires":[["e033cfa5.b0857"]]},{"id":"e5ee30c2.89ab38","type":"comment","z":"4d72abac.9f6a5c","name":"This year","info":"","x":180,"y":740,"wires":[]},{"id":"27d5ac27.77f174","type":"inject","z":"4d72abac.9f6a5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":190,"y":800,"wires":[["64ffe247.fd2624"]]},{"id":"64ffe247.fd2624","type":"function","z":"4d72abac.9f6a5c","name":"Get in this year","func":"let year = new Date().getFullYear();\nlet nextYear = year + 1;\n\nyear = new Date(year, 0, 1);\nnextYear = new Date(nextYear, 0, 1);\n\nmsg.payload = {start: year, end: nextYear};\n\nmsg.topic = \"SELECT SUM(direction_in) from counterTable WHERE time > \" + year.getTime() + \" AND time < \" + nextYear.getTime();\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":800,"wires":[["ea7296b.3fc0ce8"]]},{"id":"ea7296b.3fc0ce8","type":"subflow:fd1ac5b9.8d104","z":"4d72abac.9f6a5c","name":"","env":[],"x":840,"y":800,"wires":[["bd928cd3.be24a8"]]},{"id":"bd928cd3.be24a8","type":"function","z":"4d72abac.9f6a5c","name":"parse","func":"msg.payload = msg.payload[0][\"SUM(direction_in)\"] || 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":800,"wires":[["c047d774.4ffcc8"]]},{"id":"5dd8f2c2.75403c","type":"ui_template","z":"4d72abac.9f6a5c","group":"","name":"Dashboard stylesheet","order":1,"width":0,"height":0,"format":"<style>\nh1 {\n    font-size: 60px;\n}\n\n.nr-dashboard-theme ui-card-panel {\n    background-color: #fafafa;\n}\n\nbody.nr-dashboard-theme md-content md-card {\n    background-color: #fafafa;\n}\n\n.nr-dashboard-template p, .nr-dashboard-template h1, .nr-dashboard-template h2, .nr-dashboard-template h3, .nr-dashboard-template h4 {\n    background-color: #fafafa!important;\n}\n\n</style>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","x":500,"y":980,"wires":[[]]},{"id":"40417aff.f38a14","type":"ui_template","z":"4d72abac.9f6a5c","group":"7ad48c00.72c1e4","name":"Heading","order":1,"width":"20","height":"3","format":"<h1>{{msg.payload}} in numbers </h1>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1300,"y":140,"wires":[[]]},{"id":"1d248304.e00e95","type":"ui_template","z":"4d72abac.9f6a5c","group":"7ad48c00.72c1e4","name":"In today","order":5,"width":"10","height":"5","format":"<div style=\"text-align: center\">\n    <h2>{{msg.payload}}</h2>\n    <h3>Visitors today</h3>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1300,"y":240,"wires":[[]]},{"id":"87bd9241.3cbfe8","type":"ui_template","z":"4d72abac.9f6a5c","group":"7ad48c00.72c1e4","name":"Currently inside","order":3,"width":"10","height":"5","format":"<div style=\"text-align: center\">\n    <h2>{{msg.payload}}</h2>\n    <h3>Currently inside</h3>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1320,"y":300,"wires":[[]]},{"id":"40947267.7cf204","type":"ui_template","z":"4d72abac.9f6a5c","group":"7ad48c00.72c1e4","name":"First visitor","order":2,"width":"10","height":"5","format":"<div style=\"text-align: center\">\n    <h2>{{msg.payload}}</h2>\n    <h3>First visitor</h3>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1310,"y":360,"wires":[[]]},{"id":"3971998.2d1c366","type":"subflow:fd1ac5b9.8d104","z":"4d72abac.9f6a5c","name":"","x":820,"y":480,"wires":[["6f913ac8.d0a08c"]]},{"id":"cf98e67f.91421","type":"function","z":"4d72abac.9f6a5c","name":"Periods","func":"const interval = [{start: 0, end: 12}, {start: 12, end: 17}, {start: 17, end: 24}]\n\nconst start = new Date();\nconst end = new Date();\n\nmsg.payload = [];\n\nend.setHours(interval[0].end,0,0,0);\nstart.setHours(interval[0].start,0,0,0);\nmsg.payload.push(\"SELECT SUM(direction_in) from counterTable WHERE time > \" + start.getTime() + \" AND time < \" + end.getTime());\n\nend.setHours(interval[1].end,0,0,0);\nstart.setHours(interval[1].start,0,0,0);\nmsg.payload.push(\"SELECT SUM(direction_in) from counterTable WHERE time > \" + start.getTime() + \" AND time < \" + end.getTime());\n\nend.setHours(interval[2].end,0,0,0);\nstart.setHours(interval[2].start,0,0,0);\nmsg.payload.push(\"SELECT SUM(direction_in) from counterTable WHERE time > \" + start.getTime() + \" AND time < \" + end.getTime());\n    \nreturn msg;","outputs":1,"noerr":0,"x":440,"y":480,"wires":[["a89b1af5.8e0198"]]},{"id":"a89b1af5.8e0198","type":"split","z":"4d72abac.9f6a5c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":440,"wires":[["f970dc17.59a658"]]},{"id":"f970dc17.59a658","type":"change","z":"4d72abac.9f6a5c","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":480,"wires":[["3971998.2d1c366"]]},{"id":"e9c7f4f3.367e08","type":"join","z":"4d72abac.9f6a5c","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1070,"y":500,"wires":[["a786c836.7624d8"]]},{"id":"6f913ac8.d0a08c","type":"change","z":"4d72abac.9f6a5c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0][\"SUM(direction_in)\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":420,"wires":[["ee4de06e.80c008"]]},{"id":"4a637c5a.3426f4","type":"function","z":"3571da2b.331bfe","name":"Periods","func":"const date = new Date(msg.payload.time);\nconst hours = date.getHours();\nconst interval = [{start: 0, end: 12}, {start: 12, end: 17}, {start: 17, end: 24}]\n\nconst start = new Date();\nconst end = new Date();\n\nif (hours >= interval[0].start && hours < interval[0].end) {\n    end.setHours(interval[0].end,0,0,0);\n    start.setHours(interval[0].start,0,0,0);\n    msg.period = 0;\n} else if (hours >= interval[1].start && hours < interval[1].end) {\n    end.setHours(interval[1].end,0,0,0);\n    start.setHours(interval[1].start,0,0,0);\n    msg.period = 1;\n} else {\n    end.setHours(interval[2].end,0,0,0);\n    start.setHours(interval[2].start,0,0,0);\n    msg.period = 2;\n}\n\nmsg.topic = \"SELECT SUM(direction_in) from counterTable WHERE time > \" + start.getTime() + \" AND time < \" + end.getTime()\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":200,"wires":[["4f220eb5.52b6b8"]]},{"id":"ff6d319c.3da05","type":"subflow:fd1ac5b9.8d104","z":"3571da2b.331bfe","name":"","env":[],"x":840,"y":200,"wires":[["87571d3d.f23668"]]},{"id":"87571d3d.f23668","type":"function","z":"3571da2b.331bfe","name":"parse","func":"msg.payload = msg.payload[0][\"SUM(direction_in)\"];\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":200,"wires":[[]]},{"id":"bb31873f.44484","type":"subflow:fd1ac5b9.8d104","z":"3571da2b.331bfe","name":"","env":[],"x":840,"y":260,"wires":[["75b5c191.e1451"]]},{"id":"d20734a8.2d4e68","type":"subflow:fd1ac5b9.8d104","z":"3571da2b.331bfe","name":"","env":[],"x":840,"y":320,"wires":[["5a4ae833.91208"]]},{"id":"75b5c191.e1451","type":"function","z":"3571da2b.331bfe","name":"parse","func":"msg.payload = msg.payload[0][\"SUM(direction_in)\"];\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":260,"wires":[[]]},{"id":"5a4ae833.91208","type":"function","z":"3571da2b.331bfe","name":"parse","func":"msg.payload = msg.payload[0][\"SUM(direction_in)\"];\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":320,"wires":[[]]},{"id":"4f220eb5.52b6b8","type":"switch","z":"3571da2b.331bfe","name":"","property":"period","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":670,"y":200,"wires":[["ff6d319c.3da05"],["bb31873f.44484"],["d20734a8.2d4e68"]]},{"id":"a786c836.7624d8","type":"ui_template","z":"4d72abac.9f6a5c","group":"7ad48c00.72c1e4","name":"Periods","order":4,"width":"10","height":"5","format":"<div style=\"text-align: center\">\n    <p>{{msg.payload[0]}}</p>\n    <p>00 - 12</p>\n    <p>{{msg.payload[1]}}</p>\n    <p>12 - 17</p>\n    <p>{{msg.payload[2]}}</p>\n    <p>17 - 00</p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1300,"y":500,"wires":[[]]},{"id":"ee4de06e.80c008","type":"function","z":"4d72abac.9f6a5c","name":"change nulls","func":"if (msg.payload === null) {msg.payload = 0}\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":460,"wires":[["e9c7f4f3.367e08"]]},{"id":"e033cfa5.b0857","type":"ui_template","z":"4d72abac.9f6a5c","group":"7ad48c00.72c1e4","name":"Periods","order":4,"width":"20","height":"5","format":"<div style=\"text-align: center\">\n    <h2>{{msg.payload}}+</h2>\n    <h3>In this week</h3>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1300,"y":680,"wires":[[]]},{"id":"c047d774.4ffcc8","type":"ui_template","z":"4d72abac.9f6a5c","group":"7ad48c00.72c1e4","name":"Periods","order":4,"width":"20","height":"5","format":"<div style=\"text-align: center\">\n    <h2>{{msg.payload}}+</h2>\n    <h3>In this year</h3>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1300,"y":800,"wires":[[]]},{"id":"c595e3cf.d6712","type":"debug","z":"4d72abac.9f6a5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":840,"y":80,"wires":[]}]