sensor/flows.json
[{"id":"13ceb173.1a2867","type":"tab","label":"Offline queue","disabled":false,"info":""},{"id":"1a0824de.0b4fbb","type":"tab","label":"Heartbeat","disabled":false,"info":""},{"id":"92a06057.d52b1","type":"http in","z":"13ceb173.1a2867","name":"","url":"/count","method":"post","upload":false,"swaggerDoc":"","x":190,"y":200,"wires":[["50bbf8ab.29cdc","3234a72d.4fafc"]]},{"id":"20d1eede.aa382a","type":"debug","z":"13ceb173.1a2867","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":100,"wires":[]},{"id":"50bbf8ab.29cdc","type":"http response","z":"13ceb173.1a2867","name":"","statusCode":"","headers":{},"x":410,"y":100,"wires":[]},{"id":"3234a72d.4fafc","type":"http request","z":"13ceb173.1a2867","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://counter.iot-lab.dk/count","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":200,"wires":[["4b548933.e0bdf8"]]},{"id":"4b548933.e0bdf8","type":"switch","z":"13ceb173.1a2867","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":200,"wires":[["bd3de7b6.a2cdb"],["56d02765.f5c49"]]},{"id":"1d53ac3b.9077bc","type":"debug","z":"13ceb173.1a2867","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1210,"y":200,"wires":[]},{"id":"bd3de7b6.a2cdb","type":"change","z":"13ceb173.1a2867","name":"Success","rules":[{"t":"set","p":"payload","pt":"msg","to":"Succss","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":100,"wires":[["20d1eede.aa382a"]]},{"id":"1aeb5a25.cca156","type":"debug","z":"13ceb173.1a2867","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1730,"y":540,"wires":[]},{"id":"4e4aac2a.ebbb4c","type":"inject","z":"13ceb173.1a2867","name":"Offline upload","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 03 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":540,"wires":[["9f2256e3.370278"]]},{"id":"9f2256e3.370278","type":"exec","z":"13ceb173.1a2867","command":"ls -U | head -1","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":400,"y":540,"wires":[["5d58ebd1.53167c"],[],[]]},{"id":"3e64f7fb.4ec31","type":"file","z":"13ceb173.1a2867","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1050,"y":200,"wires":[["1d53ac3b.9077bc"]]},{"id":"56d02765.f5c49","type":"function","z":"13ceb173.1a2867","name":"set filename and body","func":"msg.filename = new Date(msg.req.body.event_time).getTime().toString();\nmsg.payload = msg.req.body;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":200,"wires":[["3e64f7fb.4ec31"]]},{"id":"7ed84900.5679c","type":"file in","z":"13ceb173.1a2867","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":770,"y":540,"wires":[["baac1bbb.deb5f"]]},{"id":"5d58ebd1.53167c","type":"function","z":"13ceb173.1a2867","name":"set filename","func":"msg.filename = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":540,"wires":[["7ed84900.5679c"]]},{"id":"74b4ed37.895a54","type":"http request","z":"13ceb173.1a2867","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://counter.iot-lab.dk/count","tls":"","persist":false,"proxy":"","authType":"","x":1130,"y":500,"wires":[["bc0ce932.f4fb5","7d3a78cc.c3ef2"]]},{"id":"baac1bbb.deb5f","type":"json","z":"13ceb173.1a2867","name":"","property":"payload","action":"","pretty":false,"x":930,"y":540,"wires":[["74b4ed37.895a54"]]},{"id":"bc0ce932.f4fb5","type":"switch","z":"13ceb173.1a2867","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1290,"y":580,"wires":[[],["d40a55c7.b1677"]]},{"id":"d40a55c7.b1677","type":"change","z":"13ceb173.1a2867","name":"Error","rules":[{"t":"set","p":"payload","pt":"msg","to":"Error","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":680,"wires":[["1aeb5a25.cca156"]]},{"id":"7d3a78cc.c3ef2","type":"file","z":"13ceb173.1a2867","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":1350,"y":460,"wires":[["5dea30f9.9496f8"]]},{"id":"5dea30f9.9496f8","type":"change","z":"13ceb173.1a2867","name":"Success","rules":[{"t":"set","p":"payload","pt":"msg","to":"Success","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":460,"wires":[["1aeb5a25.cca156","d4719cdd.bf406"]]},{"id":"d4719cdd.bf406","type":"link out","z":"13ceb173.1a2867","name":"","links":["e7cb3b3.fc2bcc8"],"x":1745,"y":440,"wires":[]},{"id":"e7cb3b3.fc2bcc8","type":"link in","z":"13ceb173.1a2867","name":"","links":["d4719cdd.bf406"],"x":205,"y":600,"wires":[["9f2256e3.370278"]]},{"id":"60fb466.68d52b8","type":"inject","z":"1a0824de.0b4fbb","name":"Heartbeat","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 04 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"novonordisk;itu","payloadType":"str","x":210,"y":100,"wires":[["7e9e25b8.a56d1c"]]},{"id":"7e9e25b8.a56d1c","type":"http request","z":"1a0824de.0b4fbb","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://counter.iot-lab.dk/heartbeat","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":100,"wires":[[]]}]